fastapi==0.115.4
uvicorn[standard]==0.32.0
google-auth==2.35.0
google-cloud-bigquery==3.27.0
google-cloud-resource-manager==1.13.1
google-cloud-iam==2.16.0
google-cloud-run==0.10.13
google-cloud-service-usage==1.12.1
google-api-core==2.22.0
